body{
    
}

.submit{
    border-radius:4px;
    background-color:lightblue;
}

.font-larg{
    font-size:larger;
}

fieldset{
    margin-left:250px;
    margin-right:250px;
    background-color:lightgreen;
}

.border-line{
   font-size:larger;
   border-style:outset;
   margin-left:40px;
   margin-right:40px;
   
}

.bg-color{
    background-color:white;
    border-style:solid;
}


.anchor{
    color:black;
    font-size:larger;
    border-style:solid;
   padding:4px;
   text-decoration:none;
}


.age{
    padding-right:px;
}

.fieldset-border{
    border-style:double;
    border-width:20px;
}
