
body {
    background-image: url("./images/pet2.jpg");
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: ffffff87;
    
}
h1 {
    color: #333;
    margin-bottom: 20px;
}
form {
    margin-top: 20px;
}
input[type="email"],
input[type="number"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="email"].filled,
input[type="number"].filled,
input[type="password"].filled {
    background-color: rgb(3, 155, 0);
}
button {
    padding: 10px 20px;
    background-color: rgb(3, 155, 0);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}
button:hover {
    background-color: #555;
}

